<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MyBatis 3 Mapper//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaksim.mapper.UserMapper">
    <select id="getUserById"parameterType="String" resultType="com.jaksim.dto.User">
        SELECT *
        FROM jaksim_user
        WHERE user_id = #{id};
    </select>

    <select id="isDuplicateEmail" parameterType="String" resultType="Integer">
        SELECT COUNT(*)
        FROM jaksim_user
        WHERE user_email = #{email};
    </select>

    <insert id="createUser" parameterType="com.jaksim.dto.User">
        INSERT INTO
            (
                user_id,
                user_email,
                user_password,
                user_password_question,
                user_password_answer,
                user_role
            ) VALUES (
                #{userId},
                #{userEmail},
                #{userPassword},
                #{userPasswordQuestion},
                #{userPasswordAnswer},
                #{userRole}
            );
    </insert>
</mapper>